.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--background));
  padding: 1.5rem;
  column-gap: 2rem;

  .banner--content {
    display: flex;
    width: 100%;
    padding: 0 2rem;
  }
}
