button.button-pill {
  align-items: center;
  display: flex;
  opacity: 1;
  padding: 0.6rem 0.2rem;
  min-width: 200px;
  min-height: 50px;

  & > span {
    color: rgb(var(--text-high-contrast-rgb));
    letter-spacing: -0.025em;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:hover svg,
  &:hover {
    filter: hue-rotate(10deg);
  }
}

.primary {
  background-color: rgb(var(--primary-rgb));
}

.secondary {
  background-color: rgb(var(--secondary-rgb));
}
